<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KSTN_Facebook_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <KSTN_Facebook_Tool.Properties.Settings>
      <setting name="user" serializeAs="String">
        <value />
      </setting>
      <setting name="pass" serializeAs="String">
        <value />
      </setting>
      <setting name="license_id" serializeAs="String">
        <value />
      </setting>
      <setting name="license_key" serializeAs="String">
        <value />
      </setting>
      <setting name="group_reload" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="comments" serializeAs="String">
        <value>ad post bài hay quá :D,cho mình xin 1 slot với,mình có thể đặt hàng bằng cách nào?,ad cho mình hỏi có ship hàng về Thái Nguyên không vậy?,ad ơi PM mình hỏi tí,cái này hay quá :x,cái này còn hàng không bạn?,chờ mãi zz,sp này dùng được cho những đối tượng nào hả ad?,bên mình ship hàng HN free hả?,cái này rẻ thế o.0,mình ở Nhổn muốn ship hàng trong ngày hôm nay được không?,Anh ơi em ở miền Nam chuyển khoản vào đc không ah,Hang moi ha a,cai nay con hang khong anh?,@Đào Anh mày xem đi,@Tún xem này,#Nguyen Lan có phải cái m bảo k?,Con hang k ad,có hỗ trợ mua bằng thẻ visa không bạn,Bạn có ship hàng ra Đà Nẵng không?,^^,bá đạo,quá ngon,giá đẹp,bạn ơi bạn tư vấn thêm cho mình được không?,ad oi cai nay gia nhiu,về gom thóc thôi :)),#Phạm Thanh hàng xịn này,rực rỡ quá o.0,iều này cũng không làm todayTV thôi phát sóng cô dâu 8 tuổi đâu :)),#Thành Vũ hốt luôn đi m,có tiền là hốt ngay :x,giá này là tổng hả ad?</value>
      </setting>
    </KSTN_Facebook_Tool.Properties.Settings>
  </userSettings>
</configuration>